.login {
    display: flex;
    overflow: hidden;
    height: 100%;
    color: #1A1A1A;

    .login_wallpaper {
        flex: 7;
        background-image: url('/assets/images/login/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .login_wrap {
        display: flex;
        flex-direction: column;
        flex: 3;
        background-color: #FFF;
        padding: 2em;

        .logo {
            align-self: flex-start;
        }

        .title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
        }


    }
}