<div class="sidebar">

    <div class="logo">
        <img src="/assets/images/sidebar/logo.png" alt="Octom.">
    </div>

    <section class="menu">
        <ul>
            <li routerLink="/dashboard"><img src="/assets/images/sidebar/dashboard-icon.png" alt="Dashboard"></li>
            <li routerLink="/activity"><img src="/assets/images/sidebar/activity-icon.png" alt="Activity"></li>
            <li routerLink="/ebooks"><img src="/assets/images/sidebar/ebooks-icon.png" alt="Ebooks"></li>
            <li routerLink="/settings"><img src="/assets/images/sidebar/settings-icon.png" alt="Settings"></li>
            <li routerLink="/messenger"><img src="/assets/images/sidebar/messenger-icon.png" alt="Messenger"></li>
            <li routerLink="/files"><img src="/assets/images/sidebar/files-icon.png" alt="Files"></li>
        </ul>
    </section>

</div>