input{
    flex                             : 1;
    padding                          : 30px 20px;
    font-size                        : 1.1em;
    
    -webkit-border-top-left-radius   : 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-topleft       : 25px;
    -moz-border-radius-bottomleft    : 25px;
    border-top-left-radius           : 25px;
    border-bottom-left-radius        : 25px;
    box-shadow                       : none;
    border                           : none;
    box-shadow                       : 2px 4px 6px rgba(0, 0, 0, 0.19);
 }
 
